:root {
  --text-font: "Sometype Mono", Arial, sans-serif;
  --text-color: white;
  --text-highlight-color: rgb(228, 25, 33);

  --separator-color: white;
  --separator-thickness: 1.5px;

  --image-position-top: 85px;
}

@font-face {
  font-family: "Sometype Mono";
  src: url("../fonts/SometypeMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sometype Mono";
  src: url("../fonts/SometypeMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.template {
  background-color: #030303;
  position: relative;
  width: 100%;
  height: 100%;
}

.template .panel-data {
  position: absolute;
  bottom: 150px;
  left: 200px;
  max-width: calc(100% - 1500px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.template .panel-data-row {
  display: flex;
  align-items: center;
}

.template .top-horizontal-line {
  position: absolute;
  top: var(--image-position-top);
  left: 52px;
  right: 1650px;
  height: var(--separator-thickness);
  background-color: var(--separator-color);
}

.template .hackerspace-logo {
  position: absolute;
  top: calc(var(--image-position-top) - 20px);
  right: 1300px;
  width: 300px;
  height: auto;
}

.template .sidebar-text {
  position: absolute;
  left: 150px;
  bottom: 100px;
  transform: rotate(-90deg);
  transform-origin: left bottom;
  font-family: var(--text-font);
  font-weight: 700;
  font-size: 75px;
  color: var(--text-color);
  white-space: nowrap;
}

.template .sidebar-text .highlight {
  color: var(--text-highlight-color);
}

.template .image-container .template-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
