:root {
  --image-position-bottom: 90px;
}

.template .panel-data-row .date-text,
.template .panel-data-row .time-text {
  font-family: var(--text-font);
  font-weight: 700;
  font-size: 100px;
  color: var(--text-color);
}

.template .address-text {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 40px;
  color: var(--text-color);
  margin-top: 10px;
}

.template .panel-data-row .separator {
  width: var(--separator-thickness);
  height: 90px;
  background-color: var(--separator-color);
  margin: 0 50px;
}

.template .footer {
  position: absolute;
  left: 52px;
  bottom: 24px;
  right: 34px;
  display: flex;
  align-items: center;
}

.template .footer .horizontal-line {
  flex: 1;
  height: var(--separator-thickness);
  background-color: var(--separator-color);
  margin-right: 60px;
}

.template .footer .author-text {
  font-size: 35px;
  font-family: var(--text-font);
  font-weight: 400;
  color: var(--text-color);
  position: relative;
  top: -5px;
}

.template .image-container {
  position: absolute;
  top: var(--image-position-top);
  bottom: var(--image-position-bottom);
  right: 40px;
  height: calc(100% - var(--image-position-top) - var(--image-position-bottom));
  aspect-ratio: 1 / 1;
}
